/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : May 10, 2023, 8:29:59 p.m.
    Author     : vires
*/

.ballColour {
    -fx-color-rect-width: 60px;
    -fx-color-rect-height: 60px;
    -fx-color-label-visible: false;
    -fx-min-width: 150px;
    -fx-min-height: 100px;
    -fx-pref-width: 150px;
    -fx-pref-height: 100px;
}

.ballColour > .arrow-button {
    -fx-font-size: 30px;
}